.title {
  margin-left:auto;
  margin-right:auto;
  width:300px;
}
.info li{
  list-style-type:none;
  float:left;
  padding:0 30px;
  text-align:center;
}
.info {
  background-color:black;
  color:white;
  padding:20px 0;
  width: 100%;
}

.info:after{
  clear:both;
  display:block;
  content:" ";
}
.contents {
  float:left;
  width: 200px;
}

/*.left-contents:after{*/
/*  clear:both;*/
/*  display:block;*/
/*  content:" ";*/
/*}*/

.img-contents{
  width :150px;
}

.large-contents{
  float:left;
}

.left-contents{
  width :50%;
}
.right-contents{
  width :50%;
}
main {
  width:100%;
}